.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    padding: 20px;
  }
  
  /* Style for the title */
  .title {
    text-align: center;
    font-size: 2em;
    margin-bottom: 30px;
  }
  
  /* Style for each row */
  .row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
  }
  
  /* Style for buttons */
  .btn {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 206px;
    height: 93px;
  }
  .one-row-btn {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 80%;
    height: 93px;
  }
  .btn:hover {
    background-color: #45a049;
  }