
<!-- src/app/landing/landing.component.html -->
<div class="landing-container">
    <header class="header">
      <h1>Welcome to Tunisian Book Fair</h1>
      <p>Empowering connections between authors, attendees and books</p>
      
      <!-- Sign Up and Login Buttons -->
      <div class="button-container">
        <button class="cta-button sign-up-btn" (click)="onSignUpAttendee()">Sign Up as attendee</button>
        <button class="cta-button sign-up-btn" (click)="onSignUpAuthor()">Sign Up as author </button>
        <button class="cta-button login-btn" (click)="onLogin()">Login</button>
      </div>
    </header>
  
    <footer class="footer">
      <p>© TUNISIAN-BOOK-FAIR</p>
    </footer>
  </div>